/* Primary and Neutral Colors */
:root {
    --primary-yellow: #FFCC00;
    --beacon-yellow: #FFFF00;
    --gray: #BEBEB9;
    --light-gray: #EBEBEB;
    --black: #1E1E1E;
    --white: #FFFFFF;
}

body {
    font-family: 'Gill Sans', 'Lucida Sans', sans-serif;
    color: var(--black);
    background-color: var(--light-gray);
}

h1 {
    font-size: 70pt;
    color: var(--black);
}

h2 {
    font-size: 38pt;
    color: var(--beacon-yellow); 
}

p {
    font-size: 18pt;
    color: var(--black);
}

.background-black {
    background-color: var(--black);
    color: var(--white); 
}

.primary-background {
    background-color: var(--primary-yellow);
    color: var(--white);
}

.neutral-background {
    background-color: var(--gray);
    color: var(--black);
}
